.posts-wrap {
	overflow: hidden;
	margin: 0 0 50px;
}
.posts-list {
	margin: 0 -15px;
}
.posts-list:after {
	clear: both;
	content: '';
	display: block;
}
.posts-list .posts-i {
	color: #373d54;
	position: relative;
	width: 33.33333%;
	padding: 0 15px;
	float: left;
	margin: 0 0 30px;
	height: 236px;
	overflow: hidden;
}
.posts-i .posts-i-img {
	display: block;
	height: 100%;
	overflow: hidden;
	border: none;
	position: relative;
}
.posts-i .posts-i-img:after {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0);
	transition: background 0.5s;
}
.posts-i:hover .posts-i-img:after {
	background: rgba(0,0,0,0.5);
}
.posts-i .posts-i-img span {
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	display: block;
	-o-background-size: cover !important;
	-moz-background-size: cover !important;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	-ms-transform: scale3d(1,1,1);
	-o-transform: scale3d(1,1,1);
	-moz-transform: scale3d(1,1,1);
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}
.posts-i:hover .posts-i-img span {
	-webkit-transform: scale3d(1.05,1.05,1);
	-moz-transform: scale3d(1.05,1.05,1);
	-ms-transform: scale3d(1.05,1.05,1);
	-o-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}
.posts-i .posts-i-date {
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	font-weight: 300;
	padding: 0;
	position: absolute;
	color: #fff;
	top: 15px;
	left: 35px;
	opacity: 0;
	transition: all 0.3s ease-in;
}
.posts-i:hover .posts-i-date {
	opacity: 1;
	top: 20px;
}
.posts-i .posts-i-date span {
	display: block;
	font-size: 28px;
	line-height: 1;
	font-family: 'PT Serif', Roboto, sans-serif;
	font-weight: 700;
	margin: 0 0 1px;
}
.posts-i .posts-i-info {
	position: absolute;
	bottom: 15px;
	left: 35px;
	right: 35px;
	padding: 0;
	color: #fff;
	line-height: 1;
	opacity: 0;
	transition: all 0.3s ease-in;
}
.posts-i:hover .posts-i-info {
	opacity: 1;
	bottom: 20px;
}
.posts-i .posts-i-ttl {
	font-family: 'PT Serif', Roboto, sans-serif;
	font-size: 19px;
	font-weight: 700;
	margin: 0;
	line-height: 1.2;
}
.posts-i .posts-i-ttl a {
	border: none;
	color: #fff;
	line-height: 1.2;
	transition: color 0.2s;
}
.posts-i .posts-i-ttl a:hover {
	color: #b3bede;
}
.posts-i .posts-i-ctg {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 0 7px;
	display: inline-block;
	line-height: 1;
	border: none;
	color: #fff;
	transition: color 0.2s;
}
.posts-i .posts-i-ctg:hover {
	color: #b3bede;
}
.posts-list-rel {
	margin: 0;
	padding: 0 0 50px;
	overflow: hidden;
}
.posts-list-rel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.posts-list-rel .posts-i {
	padding: 0;
	margin: 0;
	list-style: none !important;
}
.posts-list-rel .posts-i .posts-i-info {
	left: 22px;
	right: 22px;
}
.posts-list-rel .posts-i .posts-i-date {
	left: 22px;
}
.posts-list-rel .flex-control-nav {
	bottom: 10px;
	margin: 0;
	list-style: none;
}
.posts-list-rel .flex-control-nav li {
	margin: 0 4px;
}
.posts-list-rel .flex-control-nav li a {
	display: block;
	box-shadow: none;
	border-radius: 0;
	width: 23px;
	height: 3px;
	background: #e0e4f6;
	box-shadow: none;
	transition: all 0.2s;
	border: none;
}
.posts-list-rel .flex-control-nav li a:hover {
	background: #373d54;
}
.posts-list-rel .flex-control-nav li a.flex-active {
	background: #373d54;
	cursor: default;
}
.posts-list-rel .flex-direction-nav a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	opacity: 1 !important;
	margin: -48px 0 0;
	position: absolute;
	top: 50%;
	color: #373d54;
	text-shadow: none;
	z-index: 2;
	background: rgba(255,255,255,0.8);
	border: none;
}
.posts-list-rel .flex-direction-nav a.flex-disabled {
	display: none;
}
.posts-list-rel .flex-direction-nav a:before {
	display: block;
	content: "\f104";
	font-size: 26px;
	text-indent: initial;
	color: #373d54;
	font-family: FontAwesome;
	transition: all 0.3s ease-in-out;
	text-shadow: none;
}
.post-wrap .flex-direction-nav a.flex-next:before {
	margin: 0 0 0 4px;
	content: "\f105";
}
.post-wrap .flex-direction-nav a.flex-prev:before {
	margin: 0 2px 0 0;
	content: "\f104";
}
.posts-list-rel .flex-direction-nav a:hover {
	background: rgba(255,255,255,1);
	text-decoration: none;
}
.posts-list-rel.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 1;
	left: 20px;
}
.posts-list-rel.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
	right: 20px;
}

.blog-list {
	overflow: hidden;
}
.main-ttl-categs {
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
	width: 40%;
}

.main-ttl-categs span {
	color: #373d54;
	float: left;
	font-size: 30px;
	font-weight: bold;
	font-family: inherit;

}
body .blog-categs {
	width: 60%;
	text-align: right;
	margin: 6px 0 10px -5px;
	display: inline-block;
	vertical-align: top;
}
body .blog-categs li {
	display: inline-block;
	margin: 0 0 20px 34px;
	vertical-align: top;
	padding: 0;
}
body .blog-categs li:after {
	display: none;
}
body .blog-categs li a {
	color: #373d54;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0;
	transition: all 0.2s;
	font-weight: 500;
	position: relative;
	display: block;
}
body .blog-categs li.active a {
	color: #3a89cf;
	text-decoration: none;
}
body .blog-categs li a:hover {
	color: #3a89cf;
	text-decoration: none;
}
body .blog-categs li.active a:hover {
	color: #3a89cf;
	text-decoration: none;
}
/*----------------------------------
19 - Blog
----------------------------------*/



/*----------------------------------
Blog V2
----------------------------------*/
.posts-list .posts2-i {
	color: #373d54;
	position: relative;
	/*width: 33.33333%;*/
	/*padding: 0 15px;*/
	/*float: left;*/
	margin: 0 0 30px;
	overflow: hidden;
}
.posts2-i .posts-i-img {
	display: block;
	overflow: hidden;
	border: none;
	position: relative;
	height: 236px;
	margin: 0 0 18px;
}
.posts2-i .posts-i-img:after {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0);
	transition: background 0.5s;
}
.posts2-i .posts-i-img:hover:after {
	background: rgba(0,0,0,0.3);
}
.posts2-i .posts-i-img span {
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	display: block;
	-o-background-size: cover !important;
	-moz-background-size: cover !important;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	-ms-transform: scale3d(1,1,1);
	-o-transform: scale3d(1,1,1);
	-moz-transform: scale3d(1,1,1);
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}
.posts2-i .posts-i-img:hover span {
	-webkit-transform: scale3d(1.05,1.05,1);
	-moz-transform: scale3d(1.05,1.05,1);
	-ms-transform: scale3d(1.05,1.05,1);
	-o-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}
.posts2-i .posts-i-date {
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	font-weight: 300;
	padding: 8px 12px 7px;
	position: absolute;
	color: #fff;
	top: 20px;
	left: 35px;
	background: rgba(51,129,197,0.85);
}
.posts2-i .posts-i-date span {
	display: block;
	font-size: 26px;
	line-height: 1;
	font-family: 'PT Serif', Roboto, sans-serif;
	font-weight: 700;
	margin: 0 0 1px;
}
.posts2-i p {
	padding: 0;
	margin: 0 0 8px;
	line-height: 1.7;
	font-size: 14px;
	color: #616161;
}
.posts2-i .posts-i-ttl {
	font-family: 'PT Serif', Roboto, sans-serif;
	font-size: 19px;
	font-weight: 700;
	margin: 0 0 10px;
	line-height: 1.2;
}
.posts2-i .posts-i-ttl a {
	border: none;
	line-height: 1.2;
	transition: color 0.2s;
}
.posts2-i .posts-i-ttl a:hover {
	color: #3a89cf;
}
.posts2-i .posts-i-ctg {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 0 6px;
	display: inline-block;
	line-height: 1;
	border: none;
	color: #373d54;
	transition: color 0.2s;
}
.posts2-i .posts-i-ctg:hover {
	color: #3a89cf;
}
.posts2-i .posts-i-more {
	display: inline-block;
	margin: 0 0 5px;
	transition: color 0.2s;
	font-weight: 700;
	font-family: 'PT Serif', Roboto, sans-serif;
	border: none;
	color: #3a89cf;
}
/*.posts2-i .posts-i-more:hover {
	color: #373d54;
}*/
/*----------------------------------
Blog V2
----------------------------------*/



/*----------------------------------
20 - Blog Post
----------------------------------*/
.post-wrap {
	float: left;
	width: 80%;
	padding: 0 30px 50px 0;
}
.post-wrap-full {
	float: none;
	width: 100%;
	padding: 0 0 50px;
}
.post-wrap .post-slider {
	border: none;
	box-shadow: none;
	overflow: hidden;
	margin: 0 0 30px;
	position: relative;
}
.post-wrap .post-slider ul {
	margin: 0;
	padding: 0;
}
.post-wrap .post-slider ul li {
	margin: 0;
	padding: 0;
	position: initial;
}
.post-wrap .post-slider ul li:after {
	display: none;
}
.post-wrap .post-slider .flex-direction-nav a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	opacity: 1 !important;
	margin: -20px 0 0;
	position: absolute;
	top: 50%;
	color: #373d54;
	text-shadow: none;
	z-index: 2;
	background: rgba(255,255,255,0.8);
	border: none;
}
.post-wrap .post-slider .flex-direction-nav a:before {
	display: block;
	content: "\f104";
	font-size: 26px;
	text-indent: initial;
	color: #373d54;
	font-family: FontAwesome;
	transition: all 0.3s ease-in-out;
	text-shadow: none;
}
.post-wrap .flex-direction-nav a.flex-next:before {
	margin: 0 0 0 4px;
	content: "\f105";
}
.post-wrap .flex-direction-nav a.flex-prev:before {
	margin: 0 2px 0 0;
	content: "\f104";
}
.post-wrap .post-slider .flex-direction-nav a:hover {
	background: rgba(255,255,255,1);
	text-decoration: none;
}
.post-wrap .post-slider.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 1;
	left: 20px;
}
.post-wrap .post-slider.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
	right: 20px;
}
.post-img {
	margin: 0 0 30px;
	padding: 0;
	display: block;
	max-width: 100%;
	max-height: 800px;
	width: auto;
	height: auto;
}
.post-wrap p {
	margin: 0 0 20px;
}
.post-share-wrap {
	border-top: 1px solid #e0e4f6;
	color: #888;
	overflow: hidden;
	margin: 28px 0 70px;
}
.post-share-wrap .post-share {
	float: left;
	padding: 21px 0 0;
	font-size: 18px;
	margin: 0;
}
.post-share-wrap .post-share li {
	display: inline-block;
	margin: 0 14px 10px 0;
	padding: 0;
}
.post-share-wrap .post-share li:after {
	display: none;
}
.post-share-wrap .post-share li a {
	transition: all 0.2s;
	border: none;
	color: #5f6680;
}
.post-share-wrap .post-share li a:hover {
	color: #373d54;
	text-decoration: none;
}
.post-share-wrap .post-share li a .fa {
	transition: all 0.2s;
	padding: 1px;
}
.post-share-wrap .post-share li a .fa-pinterest:hover {
	color: #f44336;
}
.post-share-wrap .post-share li a .fa-facebook-square:hover,
.post-share-wrap .post-share li a .fa-facebook:hover {
	color: #0083C9;
}
.post-share-wrap .post-share li a .fa-twitter:hover  {
	color: #5BBCEC;
}
.post-share-wrap .post-share li a .fa-linkedin:hover  {
	color: #FF4518;
}
.post-share-wrap .post-share li a .fa-dribbble:hover  {
	color: #90C9DC;
}
.post-share-wrap .post-share li a .fa-google-plus:hover  {
	color: #CE3C2D;
}
.post-share-wrap .post-share li a .fa-instagram:hover  {
	color: #b4307d;
}
.post-share-wrap .post-share li a .fa-vk:hover  {
	color: #4c75a3;
}
.post-share-wrap .post-info {
	padding: 21px 0 0;
	float: right;
	text-align: right;
	margin: 0;
}
.post-share-wrap .post-info li {
	display: inline-block;
	padding: 0 0 10px 18px;
	margin: 0 0 0 5px;
	position: relative;
	font-size: 13px;
	text-transform: uppercase;
}
.post-share-wrap .post-info li:after {
	display: block;
	content: "";
	width: 9px;
	height: 19px;
	background: url(../img/separator1.png) no-repeat left top;
	top: 50%;
	left: 0;
	margin: -15px 0 0;
	position: absolute;
}
.post-share-wrap .post-info li:first-child:after {
	display: none;
}
.post-share-wrap .post-info li a {
	color: #3a89cf;
	transition: all 0.2s;
}
.post-share-wrap .post-info li a:hover {
	text-decoration: none;
}
.post-rel-wrap {
	position: relative;
	overflow: hidden;
	border: none;
	margin: 0 0 30px;
	box-shadow: none;
}
.post-rel-wrap ul {
	margin: 0;
	padding: 0;
}
.post-rel-wrap ul li {
	margin: 0;
	padding: 0;
	position: initial;
}
.post-rel-wrap ul li:after {
	display: none;
}
.post-rel-wrap .posts-i {
	height: 236px;
	float: left;
	width: 280px;
	margin: 0 20px 0 0;
	color: #373d54;
	position: relative;
	padding: 0;
	overflow: hidden;
}
.post-rel-wrap .posts-i .posts-i-date {
	left: 20px;
}
.post-rel-wrap .posts-i .posts-i-info {
	left: 20px;
}
.post-rel-wrap .flex-direction-nav a {
	transition: all 0.2s ease-in;
	background: none;
	text-align: center;
	overflow: hidden;
	width: 38px;
	background: rgba(255,255,255,0.85);
	text-indent: 100%;
	white-space: nowrap;
	height: 42px;
	margin-top: -21px;
	z-index: 1;
	opacity: 0;
}
.post-rel-wrap .flex-direction-nav a:before {
	transition: all 0.2s ease-in;
	display: block;
	content: "";
	text-indent: initial;
	background: url(../img/nav1.png) no-repeat left top;
	height: 18px;
	width: 20px;
	position: absolute;
	top: 50%;
}
.post-rel-wrap.flexslider .flex-direction-nav .flex-next {
	right: 0;
}
.post-rel-wrap.flexslider .flex-direction-nav .flex-prev {
	left: 0;
}
.post-rel-wrap.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
	right: 20px;
}
.post-rel-wrap.flexslider .flex-direction-nav .flex-next:before {
	right: 8px;
	margin: -9px 0 0 0;
	content: '';
}
.post-rel-wrap.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 1;
	left: 20px;
}
.post-rel-wrap.flexslider .flex-direction-nav .flex-prev:before {
	left: 8px;
	margin: -9px 0 0 0;
	background-position: left bottom;
	content: '';
}