.show_user{
  padding-top: 60px;
}
.show_user .Personal_info{
  margin-bottom: 30px;
}
.show_user .img_user{
  margin-top: 30px;
}
.Personal_info_edit{
  padding-bottom: 20px;
}
.Personal_info_edit .Personal_info_edit_name{
  margin-bottom: 25px;
}
.page-header-edit{
  margin-top: 20px;
}