<section class="container">
  <h1 class="main-ttl main-ttl-categs"><span>Blog</span></h1>
  <div class="posts-list blog-page">
    <div class="posts-i">
      <a class="posts-i-img" href="post.html">
        <span style="background: url(http://placehold.it/354x236)"></span>
      </a>
      <time class="posts-i-date" datetime="2017-01-01 12:00"><span>09</span> Jan</time>
      <div class="posts-i-info">
        <a href="#" class="posts-i-ctg">Reviews</a>
        <h3 class="posts-i-ttl"><a href="post.html">Animi quaerat at</a></h3>
      </div>
    </div>
    <div class="posts-i">
      <a class="posts-i-img" href="post.html">
        <span style="background: url(http://placehold.it/360x203)"></span>
      </a>
      <time class="posts-i-date" datetime="2017-01-01 12:00"><span>15</span> Feb</time>
      <div class="posts-i-info">
        <a href="#" class="posts-i-ctg">Articles</a>
        <h3 class="posts-i-ttl"><a href="post.html">Ex atque commodi</a></h3>
      </div>
    </div>
    <div class="posts-i">
      <a class="posts-i-img" href="post.html">
        <span style="background: url(http://placehold.it/360x224)"></span>
      </a>
      <time class="posts-i-date" datetime="2017-01-01 12:00"><span>21</span> Mar</time>
      <div class="posts-i-info">
        <a href="#" class="posts-i-ctg">News</a>
        <h3 class="posts-i-ttl"><a href="post.html">Hic quod maxime deserunt</a></h3>
      </div>
    </div>
  </div>
</section>