<div class="fr-pop-wrap">
	<h3 class="component-ttl"><span><b>Popular products</b></span></h3>
    <ul class="fr-pop-tabs sections-show">
        <li><a data-frpoptab-num="1" data-frpoptab="#frpoptab-tab-1" href="#" class="active">All Categories</a></li>
        <li><a data-frpoptab-num="2" data-frpoptab="#frpoptab-tab-2" href="#">Women</a></li>
        <li><a data-frpoptab-num="3" data-frpoptab="#frpoptab-tab-3" href="#">Men</a></li>
        <li><a data-frpoptab-num="4" data-frpoptab="#frpoptab-tab-4" href="#">Kids</a></li>
        <li><a data-frpoptab-num="5" data-frpoptab="#frpoptab-tab-5" href="#">Shoes</a></li>
    </ul>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-3 list-item-product">
			<div class="block">
			  <div class="top">
			    <ul>
			      <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
			      <li><span class="converse"><b>Converse</b></span></li>
			      <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
			    </ul>
			  </div>
			  <div class="middle">
			    <img src="https://sgfm.elcorteingles.es/SGFM/dctm/MARKET/843/426/606/8434266061789_00_516x640.jpg" alt="pic" />
			  </div>
			  <div class="bottom">
			    <div class="heading"><p>Chuck Taylor Stars and Bars</p></div>
			    <div class="info"><p>Fresh converse edition</p></div>
			    <div class="price"><p><b>$50.00</b></p></div>	
			  </div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 list-item-product">
			<div class="block">
			  <div class="top">
			    <ul>
			      <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
			      <li><span class="converse"><b>Converse</b></span></li>
			      <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
			    </ul>
			  </div>

			  <div class="middle">
			    <img src="https://sgfm.elcorteingles.es/SGFM/dctm/MARKET/843/426/606/8434266061789_00_516x640.jpg" alt="pic" />
			  </div>

			  <div class="bottom">
			    <div class="heading"><p>Chuck Taylor Stars and Bars</p></div>
			    <div class="info"><p>Fresh converse edition</p></div>
			    <div class="price"><p><b>$50.00</b></p></div>	
			  </div>

			</div>
		</div>
		<div class="col-xs-12 col-sm-3 list-item-product">
			<div class="block">

			  <div class="top">
			    <ul>
			      <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
			      <li><span class="converse"><b>Converse</b></span></li>
			      <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
			</a></li>
			    </ul>
			  </div>

			  <div class="middle">
			    <img src="https://sgfm.elcorteingles.es/SGFM/dctm/MARKET/843/426/606/8434266061789_00_516x640.jpg" alt="pic" />
			  </div>

			  <div class="bottom">
			    <div class="heading"><p>Chuck Taylor Stars and Bars</p></div>
			    <div class="info"><p>Fresh converse edition</p></div>
			    <div class="price"><p><b>$50.00</b></p></div>	
			  </div>

			</div>
		</div>
		<div class="col-xs-12 col-sm-3 list-item-product">
			<div class="block">

			  <div class="top">
			    <ul>
			      <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
			      <li><span class="converse"><b>Converse</b></span></li>
			      <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
			</a></li>
			    </ul>
			  </div>

			  <div class="middle">
			    <img src="https://sgfm.elcorteingles.es/SGFM/dctm/MARKET/843/426/606/8434266061789_00_516x640.jpg" alt="pic" />
			  </div>

			  <div class="bottom">
			    <div class="heading"><p>Chuck Taylor Stars and Bars</p></div>
			    <div class="info"><p>Fresh converse edition</p></div>
			    <div class="price"><p><b>$50.00</b></p></div>	
			  </div>

			</div>
		</div>
		<div class="col-xs-12 col-sm-3 list-item-product">
			<div class="block">

			  <div class="top">
			    <ul>
			      <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
			      <li><span class="converse"><b>Converse</b></span></li>
			      <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
			</a></li>
			    </ul>
			  </div>

			  <div class="middle">
			    <img src="https://sgfm.elcorteingles.es/SGFM/dctm/MARKET/843/426/606/8434266061789_00_516x640.jpg" alt="pic" />
			  </div>

			  <div class="bottom">
			    <div class="heading"><p>Chuck Taylor Stars and Bars</p></div>
			    <div class="info"><p>Fresh converse edition</p></div>
			    <div class="price"><p><b>$50.00</b></p></div>	
			  </div>
			</div>
		</div>
	</div>
</div>