<div class="container">
	<div class="header_top">
		<div class="row">
			<div class="col-md-6">
				<div class="header_top_left float-left">
					<ul class="social_icon">
						<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>
					<ul class="social_others">
						<li><a><i class="fa fa-phone"></i>012345678</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i>admin.com</a></li>
						<li class="language_icon">
							<select class="selectpicker language_icon" data-width="fit">
							    <option data-content='<i class="flag-icon flag-icon-vn"></i> VietNam'>VietNam</option>
							  <option  data-content='<i class="flag-icon flag-icon-us"></i> English'>English</option>
							</select>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="header_top_right text-right">
					<ul>
						<li><a href="#">Account</a></li>
						<li><a href="#">Wishlist</a></li>
						<li>
						<%= link_to t("views.layout.header.log_in"), login_path %></li>
						<li class="searchbox">
							<input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
							<input type="submit" class="searchbox-submit" value="">
							<span class="searchbox-icon"><i class="fa fa-search"></i></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mega_relative">
		<div class="col-xs-12 col-sm-2">
			<div class="logo head_lo">
				<%= link_to image_tag("logo.png", alt: "logo"), root_path%>
			</div>
		</div>
		<div class="col-sm-10">
			<div class="mainmenu float-right">
				<nav>
					<ul>
						<li><a href="index.html">HOME</a></li>
						<li><a href="#">NEW</a></li>
						<li><a href="#">FEATURED</a></li>
						<li><a href="#">BLOG</a></li>
						<li><a href="#">BRAND</a></li>
						<li><a href="#">OFFERS</a></li>
						<li><a href="contact.html">CONTACT</a></li>
						<li class="shop_icon">
							<%= link_to image_tag("menu_icon_img.png", alt: "logo")%>
							<span>10</span>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
